.header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.header__logo{ 
    color: rgb(6, 6, 153);  
    padding: 10px
}

.header__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-right: 30px;
    color: rgb(6, 6, 153);
}

.header__nav__item{
    padding: 10px
}

.main__text{
    font-size: 90px;
    position: absolute;
    margin-top: 410px;
    width: 40vw;
}

.main__relative {
    position: relative;
    top: 500px;
}

.blue-box {
        width: 80vw;        height: 35vh;
        background-color:rgb(6, 6, 153);
      }
.main__absolute{    
    position: absolute;  
    top: -400px;
    left: 60%;
}

.main__absolute__img{
    height: 60vh;
    width: 55vw; 
}